service trusty-coverage-controller /vendor/bin/trusty-coverage-controller -o /data/vendor/trusty/coverage
    class main
    user root
    group root
    disabled

on property:persist.trusty.coverage.enabled=1
    mkdir /data/vendor/trusty/ 0770 root root
    mkdir /data/vendor/trusty/coverage 0770 root root
    start trusty-coverage-controller

on property:persist.trusty.coverage.enabled=0
    stop trusty-coverage-controller